/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color:white;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: #B1663C;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	padding-top: 30px;

}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	
}

#login h2{
	text-align: center;
}

/**** Modifs écran admin ****/
.admin{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	gap: 30px;
}

.fa-pen-to-square{
	display: none;
}


/**** Gallerie ****/
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

/**** Modale ****/
.modale{
	font-family: 'Work Sans';
	Size :14px;
}
.containerModal {
  z-index: 7;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(136, 136, 136, 0.27);
}

/**** Premier écran modale ****/

.worksModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 70%;
  max-height: 80%;
  background-color: white;
  border-radius: 5px;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}

.worksModal .fa-regular.fa-circle-xmark {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  cursor: pointer;
}

.worksModal button {
  background-color: #1d6154;
	color: white;
	width: 25%;
	height: 36px;
  padding: 5px 10px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.worksModal button:focus {
  background-color: #000000;
  color: white;
}

.worksInModal {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  width: 100%;
}

.worksInModal figure {
  position: relative;
  margin: 0;
}

.worksInModal img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.worksModal .worksInModal figure span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: black;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  font-size: 12px;
}

/**** Ligne premier écran modale ****/
#line .line {
  border-style: solid;
	border-color: blue;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

/**** Deuxième écran modale ****/

.addWorksModal {
	display: none;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	height: 50%;
	width: 50%;
	background-color: whitesmoke;
	border-radius: 5px;
	position: relative;
}

.addWorksModal .back{
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 20px;
	cursor: pointer;
	background-color: whitesmoke	;
}

.addWorksModal .close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	cursor: pointer;
}

.addWorksModal form{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 80%;
	width: 80%;
	gap: 10px;
}

.addWorksModal form .fileContainer{
	background-color: #E8F1F6;
	height: 50%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
}

.addWorksModal form label.title-label {
  width: 100%; 

}

.addWorksModal form input{
	width: 100%;
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.addWorksModal form select{
	width: 100%;
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 20px;
}

/**** bouton pour fermer la modale ****/

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
		padding: 10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/**** Bouton retour en arrière ****/

.back{
	display: flex;
	background-color: white;
	border: none;
	height: 36px;
	width: 50px;
	cursor: pointer;
	padding: 10px;
}


/**** Boutons filtres ****/
.filter-position{
	display: flex;
  justify-content: center;
  align-items: center;
	margin-bottom: 40px;
}

.filter-buttons {
	display: flex;
	gap: 10px;
}

.filter-buttons button {
	display: inline-block;
  padding: 10px 20px;
  border: 2px solid;
	border-color: #1D6154;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  background-color: #ffff;
  transition: background-color 0.3s ease, color 0.3s ease; /
}

.filter-buttons button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #1D6154;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  background-color: #ffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.filter-buttons button:hover {
  background-color: #1D6154;
  color: #fff;
}

/**** Mode édition ****/

.editor{
	z-index: 1;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	gap: 40px;
	background-color: #000000;
	color: white;
	justify-content: center;
	align-items: center;
	font-family:'work Sans';
	text-decoration: underline;
	gap: 10px
}

.editor-text{
	color: white;
}

/**** Pré emplacement de l'image ****/

.fileContainer label{
	background-color: #CBD6DC;
	color: #306685;
	border-radius: 15px;
	padding: 5px 10px;
}
.fileContainer input{
	display: none
}
.fileContainer .fa-image{
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 5rem;
	color: #CBD6DC;
}
.fileContainer img{
	display: none;
	max-width: 100%;
	height: 100%;
}
.fileContainer p{
	padding-top: 10px;
	font-size: 10px;
	padding-bottom: 15px;
}

#fileError{
	display: none;
	color: red;
}

/**** Bouton d'ajout d'une photo ****/

.addButton{
	display: flex;
	padding: 5px 10px;
	width: 50%;
	height: 36px;
	justify-content: center;
	border-radius: 25px;
	border: none;
	background-color: grey;
	cursor: not-allowed;
	margin-bottom: 20px;
}

.addButton.enabled{
		padding: 5px 10px;
	border-radius: 25px;
	border: none;
	color: white;
	background-color: #1d6154;
	cursor: pointer;
}

.addButton :hover{
	background-color: #1D6154;
	color: white;
}

/**** Formulaire ****/
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

/**** Oublie de mot de passe ****/

.forget-password{
	text-decoration: underline;
}

/**** Login ****/

#log-in {
	width: 50%;
margin: auto;
}
#log-in > * {
	text-align: center;

}
#log-in h2{
	margin-bottom: 20px;
}
#log-in form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#log-in input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#log-in label {
	margin: 2em 0 1em 0;
}
#log-in textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#log-in .inputErrorLogin{
	border: 1px solid red
}

#error-message {
	margin-top: 20px;
	padding: 10px;
	color: red;
	text-align: center;
}

#close-btn {
  cursor: pointer;
  margin-left: 10px;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

